*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --dark-color: #080808;
  }

body {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.happyRose {
    position: relative;
    font-size: 4em;
    color: #FF385C;
    text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 100px;
  }


.night {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    filter: blur(0.1vmin);
    background-image: radial-gradient(ellipse at top, transparent 0%, var(--dark-color)), 
    radial-gradient(ellipse at bottom, var(--dark-color), rgba(145, 233, 255, 0.2)), repeating-linear-gradient(220deg, rgb(0, 0, 0) 0px,
     rgb(0, 0, 0) 19px, transparent 19px, transparent 22px), repeating-linear-gradient(189deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px),
      repeating-linear-gradient(148deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px), linear-gradient(90deg, rgb(7, 107, 42), rgb(240, 240, 240));
  }

.heart-button {
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  background: radial-gradient(circle at 30% 30%, #FF385C 0%, #FF385C 5%, #F5314B 5%, #F5314B 15%, #FF385C 15%, #FF385C 20%, #F5314B 20%, #F5314B 25%, #FF385C 25%, #FF385C 30%, #F5314B 30%, #F5314B 35%, #FF385C 35%, #FF385C 40%, #F5314B 40%, #F5314B 45%, #FF385C 45%, #FF385C 50%, #F5314B 50%, #F5314B 55%, #FF385C 55%, #FF385C 60%, #F5314B 60%, #F5314B 65%, #FF385C 65%, #FF385C 70%, #F5314B 70%, #F5314B 75%, #FF385C 75%, #FF385C 80%, #F5314B 80%, #F5314B 85%, #FF385C 85%, #FF385C 90%, #F5314B 90%, #F5314B 95%, #FF385C 95%);
  box-shadow: 0 0 10px rgba(245, 49, 75, 0.5);
  border-radius: 50%;
  border: 1px solid rgb(206, 0, 32);
  cursor: pointer;
}

.heart-button:before,
.heart-button:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.heart-button:before {
  top: 15px;
  left: 15px;
  width: 70px;
  height: 70px;
  background: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  animation: beat 1.2s ease-in-out infinite;
}

.heart-button:after {
  top: 45px;
  left: 40px;
  width: 15px;
  height: 15px;
  background: #FF385C;
  box-shadow: 0 0 10px rgba(255, 254, 255, 0.5);
  transform: rotate(45deg);
}

.animate-happyRose {
    animation: scale-happyRose 3s ease-out;
  }

@keyframes beat {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
}
  
@keyframes scale-happyRose {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  
